server {
  listen 127.0.0.1:8888;
  server_name *.p.go1.com.vn;

  set $client $host;
  set $php_version "";
  set $sub_dir "";
  
  # Default php socket = 5.4
  set $php_socket "unix:/var/run/php5-fpm.sock";
  
  # User access via [user] => static site
  if ($client ~ "^([a-z0-9]*).p.go1.com.vn") { set $client $1; }

  # User access via [php].[user] -> set correct php version
  if ($client ~ "^([a-z0-9]*).([a-z0-9]*).p.go1.com.vn") {
    set $client $2;
    set $php_version $1;
  }

  # User access via [subdir].[php].[user] => set correct php version + directory
  if ($client ~ "^([a-z0-9]*).([a-z0-9]*).([a-z0-9]*).p.go1.com.vn") {
    set $client $3;
    set $php_version $2;
    set $sub_dir /$1;
  }

  # Set correct socket for php version
  if ($php_version = "php53") { set $php_socket "unix:/var/run/php53-fpm.sock"; }
  if ($php_version = "php56") { set $php_socket "unix:/var/run/php56-fpm.sock"; }
  if ($php_version = "php55") { set $php_socket "unix:/var/run/php55-fpm.sock"; }
  if ($php_version = "hhvm") { set $php_socket "127.0.0.1:9000"; }

  # Trick, set correct roor directory
  root /home/$client/public_html/$php_version$sub_dir;
  error_log /var/log/nginx/$client.people.log;
  index  index.html index.htm index.php index.php53 index.php55;
  location / { try_files $uri $uri/ @rewrite; }
  location @rewrite {
    if (!-f index.php) { rewrite ^ /index.php; }
  }
  location ~ \.php$ {
    include fastcgi_params;
    fastcgi_pass $php_socket;
  }
}
