# ------------------------------------------------------------------------------
#             PROJECT.x.com/ -> /var/www/PROJECT/index.php
#       php53.PROJECT.x.com/ -> /var/www/PROJECT/php53/index.php
#       php54.PROJECT.x.com/ -> /var/www/PROJECT/php54/index.php
#       php55.PROJECT.x.com/ -> /var/www/PROJECT/php55/index.php
# SUPER.php55.PROJECT.x.com/ -> /var/www/PROJECT/php55/SUPER/index.php
# ------------------------------------------------------------------------------

server {
  listen 80;
  server_name *.x.com;
  set $project $host;
  set $php_version "";
  set $sub_dir "";

  # Default php socket = 5.4
  set $php_socket "unix:/var/run/www54.fpm.socket";

  # User access via [chanel] => static site
  if ($project ~ "^([a-z0-9]*).x.com") {
    set $project $1;
  }

  # User access via [php].[user] -> set correct php version
  if ($project ~ "^([a-z0-9]*).([a-z0-9]*).x.com") {
    set $project     $2;
    set $php_version $1;
  }

  # User access via [subdir].[php].[user] => set correct php version + directory
  if ($project ~ "^([a-z0-9]*).([a-z0-9]*).([a-z0-9]*).x.com") {
    set $project      $3;
    set $php_version  $2;
    set $sub_dir     /$1;
  }

  # Set correct socket for php version
  if ($php_version = "php53") { set $php_socket "unix:/var/run/www53.fpm.socket"; }
  if ($php_version = "php55") { set $php_socket "unix:/var/run/www55.fpm.socket"; }

  # Set correct roor directory
  root      /var/www/$project/$php_version$sub_dir;
  error_log /var/log/nginx/$project.log;
  index     index.html index.htm index.php;

  location / {   try_files $uri @rewrite; }
  location @rewrite {
    if (!-f index.php) { rewrite ^ /index.php; }
  }

  location ~ \.php$ {
    include fastcgi_params;
    fastcgi_pass $php_socket;
  }

  location /robots.txt { alias /var/www/nginx-default/robots.txt; }
  location /favicon.ico { alias /var/www/nginx-default/favicon.ico; }
}
